body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #fff;
    color: #434455;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

img {
    display: block;
}
    
section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

/* -------------HEADER------------ */

.header-border {
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    align-items: center
}

.nav-list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}


.nav-container {
    display: flex;
    align-items: center;
}

.list-header-container {
    display: flex;
    gap: 40px;
}

.address-container {
    display: flex;
    gap: 40px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-container {
    display: flex;
    gap: 24px;
}


.team-container {
    display: flex;
    gap: 24px;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.team-item-container {
    padding: 32px 0;
}

.employee-section {
    text-align: center;
    margin-bottom: 8px;
}

.employee-position {
    text-align: center;
}

/* PORTFOLIO */

.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.porftfolio-item-container {
    padding-left: 0;
    margin: 0;
    flex-basis: calc((100% - 3 * 24px) / 4);
}

/* flex-basis: calc(1128px / 6); */

.project-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    margin-right: 76px;
}

.logo-color {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #2e2f42;
    text-decoration: none;
}

.list-header {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    list-style-type: none;
}

.list-header .link-nav {
    color: #2e2f42;
}

.link-nav {
    text-decoration: none;
    padding: 24px 0;
    display: block;
}

.link-nav:hover {
    color: #404bbf;
}
.link-nav:focus {
    color: #404bbf;
}

.item-contacts {
    font-style: normal;
    margin-left: auto;
}

.contacts {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #434455;
}

.contacts:hover {
    color: #404bbf;
}
.contacts:focus {
    color: #404bbf;
}

.main-section {
    background: #2e2f42;
    background-image:
    linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(https://s3-alpha-sig.figma.com/img/7c8d/46d4/7e83b6c8ee4603ea892aa8aaebb3c5fe?Expires=1717372800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=NFkyKyy~Gglyc-mqV3Tyk~4BKLvTAAHh6N8TLiAdcpD702W~WE9jIMQmygDQ1pVhtTgKdXPV0lw1YzaQEHk6BtImvfXqLmWz-XJfCq0gcjWdkOWC0hGlhrtR2li8xLjFUxKc9YFpzKyRLfRo3Yp6nY5fEzkUeP4s-ELyvBhXVia6f5oX8grqLKIO6m-WDaq8b7YvKbHnkMVdhsszx8ld2l0PXz5ijp13EXbifopzwN6Xg1h6ljbDtlruNFAKqcmslwytcB2qsCk5bl4PQc3EiVMpq4lVSqvsPSOd7fmN-r3OA0r4bWqm7lrKi5pg2thlK5Vhti2KlDcVVdSJSuwn2A__);
    background-repeat: no-repeat;
    color: #fff;
    background-position: center center;
    background-size: cover;
}

.first-section {
    padding: 188px 0;
}

.title-solutions {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 496px;
    margin: 0 auto;
    color: #fff;
    margin-bottom: 48px;
}

.second-section {
    flex-basis: calc((100% - 72px) / 4);
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.button-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.button-text:hover {
    background-color: #404BBF;
}
.button-text:focus {
    background-color: #404BBF;
}
.title-features {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.list-features {
    list-style-type: none;
    text-decoration: none;
    padding-left: 0;
    margin: 0;
}

.title-point {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
    margin-bottom: 8px;
}

.features-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 14px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
}

.our-team {
    background-color: #F4F4FD;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-photo {
    background-color: #fff;
}

.list-team {
    text-decoration: none;
    list-style-type: none;
}

.team-item {
    flex-basis: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.name-team {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-decoration: none;
    margin-bottom: 8px;
}

.about {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.our-team-icon-list {
}

.icon-list {
    
}


.portfolio {
    text-decoration: none;
}

.porftfolio-item-container {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.title-portfolio {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.list-portfolio {
    list-style-type: none;
    text-decoration: none;
}

.project-portfolio {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
    margin-bottom: 8px;
}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* ----------------FOOTER----------------- */

.footer-container {
    padding: 100px 0;
}

.footer {
    background: #2e2f42;
}


.logo-color-footer {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #F4F4FD;
    text-decoration: none;
}

.logo-footer {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.footer-size {
    max-width: 264px;
}